Welcome {{request.user.username}}.</br>
Account Balance: {{account_balance}}
<h2>Recent Transations:</h2>
<ul>
{% for transation in transations_history %}
    <li>{{transation}}</li>
{% endfor %}
</ul>
<form action="{% url 'transfer' %}" method="GET" novalidate>
	<h2>Pay Taxes</h2>
	{{pay_taxes_form.as_p}}
	<input type="submit" value="Pay Taxes"/>
</form>
<form action="{% url 'transfer' %}" method="POST" novalidate>
    {% csrf_token %}
	<h2>Transfer</h2>
	{{transfer_form.as_p}}
	<input type="submit" value="Transfer"/>
</form>
